.seite {

}
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color: #ffffff;
}
p {
  margin: 0;
}
.spacer {
  flex: 1;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
.toolbar img {
  margin: 0 16px;
}
.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}
.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}
.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
h1 {
  color: red;
  padding: inherit;
  height: 40px;
}





.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

}
.antwort{
  color: #ffffff;
}
.demo-search {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 0;
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  color: #1976d2;
}








.footer {
  overflow: hidden;
  background-color: #1976d2;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background: #f1f1f1;
  color: black;
}

.footer a.active {
  background-color: #04AA6D;
  color: white;
}
div{
  color: white;
}
